<div class="d-flex flex-column justify-content-center align-items-center container-fluid vh-100">
    <h2 class="mb-4">
        {{ translations.title }}
    </h2>
 
    <form [formGroup]="logInForm" class="container-sm border mt-3 p-4 d-flex flex-column gap-3">
        <app-input
            type="username"
            formControlName="username"
            placeholder="Username">
            <app-form-errors [control]="logInForm.controls.username"></app-form-errors>
        </app-input>

        <app-input
            type="password"
            formControlName="password"
            placeholder="Password">
            <app-form-errors [control]="logInForm.controls.password"></app-form-errors>
        </app-input>

        <div class="row ms-0 me-0 mt-3">
            <button class="btn btn-lg btn-secondary col-sm-5" [disabled]="logInForm.invalid" #logInButton>
                {{ translations.logIn }}
            </button>

            <p class="col-sm-7 mb-0 ps-2 pe-0">{{ translations.dontHaveAcc }} <a class="link-secondary" (click)="goToSignup()">{{ translations.signUp }}</a></p>
        </div>
    </form>    
</div>
