<div class="d-flex flex-column justify-content-center align-items-center container-fluid vh-100">
    <h2>
        {{ translations.title }}
    </h2>

    <form [formGroup]="registerForm" class="container-sm border mt-3 p-4 d-flex flex-column gap-3">
        <app-input
            type="email"
            formControlName="email"
            placeholder="Your email address">
            <app-form-errors [control]="registerForm.controls.email"></app-form-errors>
        </app-input>

        <app-input
            type="text"
            formControlName="login"
            placeholder="Your login">
            <app-form-errors [control]="registerForm.controls.login"></app-form-errors>
        </app-input>

        <app-input
            type="password"
            formControlName="password"
            placeholder="Create password">
            <app-form-errors [control]="registerForm.controls.password"></app-form-errors>
        </app-input>

        <app-input
            type="password"
            formControlName="repeatPassword"
            placeholder="Repeat password">
            <app-form-errors [control]="registerForm.controls.repeatPassword"></app-form-errors>
        </app-input>

        <div class="row ms-0 me-0">
            <p class="col-sm-6 mb-0 ps-0">
                {{ translations.loginRedirect.alreadyHaveAccount }}

                <a class="link-secondary" (click)="goToLogIn()">{{ translations.loginRedirect.logIn }}</a>
            </p>

            <button class="btn btn-lg btn-secondary col-sm-6" [disabled]="!registerForm.valid" #registerButton>
                {{ translations.registerButon }}
            </button>
        </div>
    </form>
</div>

