<div class="d-flex flex-column justify-content-center align-items-center container-fluid vh-100">
    <h2>
        {{ translations.title }}
    </h2>

    <form [formGroup]="registerForm" class="container-sm border mt-3 pe-4 ps-4">
        <div 
            class="row input-group input-group-lg mb-3 mt-3 ms-0 me-0 has-validation"
            [ngClass]="{invalid: isValid('email')}"
            [attr.data-error-message]="translations.errorMessages.email">
            <input type="email" formControlName="email" class="form-control" placeholder="Your email address"/>
        </div>
    
        <div
            class="row input-group input-group-lg mb-3 mt-3 ms-0 me-0 has-validation"
            [ngClass]="{invalid: isValid('login')}"
            [attr.data-error-message]="translations.errorMessages.login">
            <input type="text" formControlName="login" class="form-control" placeholder="Create login" />
        </div>
    
        <div
            class="input-group input-group-lg mb-3 mt-3 ms-0 me-0"
            [ngClass]="{invalid: isValid('password')}"
            [attr.data-error-message]="translations.errorMessages.password">
            <input #createPasswordInput type='password' formControlName="password" class="form-control" placeholder="Create password"/>

            <button #createPasswordIcon class="btn btn-outline-secondary bi bi-eye-slash-fill" (click)="togglePasswordVisibility(createPasswordInput, createPasswordIcon)"></button>
        </div>

        <div
            class="input-group input-group-lg mb-3 mt-3 ms-0 me-0"
            [ngClass]="{invalid: registerForm.errors?.['passwordsUnequal']}"
            [attr.data-error-message]="translations.errorMessages.confirmPassword">
            <input #repeatPasswordInput type='password' formControlName="repeatPassword" class="form-control" placeholder="Repeat password" />

            <button #repeatPasswordIcon class="btn btn-outline-secondary bi bi-eye-slash-fill" (click)="togglePasswordVisibility(repeatPasswordInput, repeatPasswordIcon)"></button>
        </div>

        <div class="row ms-0 me-0 mb-3">
            <p class="col-sm-6 mb-0 ps-0">
                {{ translations.loginRedirect.alreadyHaveAccount }}

                <a class="link-secondary" (click)="goToLogIn()">{{ translations.loginRedirect.logIn }}</a>
            </p>

            <button class="btn btn-lg btn-secondary col-sm-6" [disabled]="!registerForm.valid" #registerButton>
                {{ translations.registerButon }}
            </button>
        </div>
    </form>
</div>

